<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updateData" method="post">
        <input type="text" value="<%=singledata.id%>" name="id" hidden>
        <input type="text" placeholder="Enter Name" value="<%=singledata.name%>" name="name">
        <input type="text" placeholder="Enter Subject"value="<%=singledata.subject%>" name="subject">
        <input type="text" placeholder="Enter City"value="<%=singledata.city%>" name="city">
        <button type="submit">Update data</button>
    </form>

</body>
</html>